<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>YOUR NU'EST SONG : 테스트 진행 중</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/images/logo.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            body {
            background-color:#eaeaea;
            font-family: 'Noto Sans KR', sans-serif;
            }
            .col-lg-6{
            -ms-user-select:none;
            -moz-user-select:-moz-none;
            -khtml-user-select:none;
            -webkit-user-select:none;
            user-select:none;
            }
        </style>
    </head>
    <body>
        <!-- Page Content-->
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">Q{{question.question_id}}</h1>
                        <br>
                        <h4>{{question.question_text}}</h4>
                        <br>
                        <div style="text-align:center">
                            {% for choice in choices.all %}
                        <div style="display:inline-block;font-size:1.3em;">
                            <form action="../choice" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="cid" value="{{ choice.choice_id }}" />
                            <button type="submit" class="btn btn-outline-dark"><strong>
                                {{ choice.choice_text }}
                            </strong></button>&nbsp;
                            <br></form>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
